<a href="https://colab.research.google.com/github/Babatunde-source/Data-science-batch-A/blob/main/assignment0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION TO DATA SCIENCE - WEEK 1** 

1. Importing Libraries.
1. Python Built-in Methods: print, len, min, max, count, sum, range, append, remove, insert, sort.
1. Data types and structures: integer, float, string, list, dictionary, tuple.
1. Introduction to python methods and classes.
1. Python statement and loops: for and while loop, if, if-else, break, continue statement.

In [ ]:
from platform import python_version
print(python_version())

3.7.10

In [ ]:
#integer value
i_val = 10
print(i_val)

10

In [ ]:
#float value
f_val = 13.6455
print(f_val,type(f_val))

13.6455 <class 'float'>

In [ ]:
#complex value
c_val = 3.142j
print(c_val, type(c_val))

3.142j <class 'complex'>

In [ ]:
# string value
str_val = 'Hello World'
print(type(str_val))
print(str_val)

<class 'str'>
Hello World

In [ ]:
str_val = 'Hello World'
print(str_val[6])

W

In [ ]:
list1 = ['abcd',4321,10.5422,'d'] #can be an array of any data type or single data type.
list2 = ['hello','world']

In [ ]:
print(list1[1])

4321

In [ ]:
print(list2[1])

world

In [ ]:
dict_1 = {'name':'bill','age':30}
print(dict_1['name']) #will output all the key-value pairs.

bill

In [ ]:
dict_1 = {'name':'bill','age':30}
print(dict_1.values())

dict_values(['bill', 30])

In [ ]:
dict_1 = {'name':'bill','age':30}
print(dict_1.keys())

dict_keys(['name', 'age'])

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7]
tuple1 = (1, 2, 3, 4, 5, 6, 7)
print('The list is: ', list1) # Print the list
print('The tuple is: ', tuple1) # Print the tuple

The list is:  [1, 2, 3, 4, 5, 6, 7]
The tuple is:  (1, 2, 3, 4, 5, 6, 7)

**Python Built-in Methods: print, len, min, max, count, sum, range, append, remove, insert, sort.**

In [ ]:
#print(list1)
#print(len(list1))
#print(min(list1), max(list1))
#remove(list1[3])

**Control statement and logical operators**

In [ ]:
# A simple if statement
num = 4
if num != 5:
   print("I told you..")

I told you..

In [ ]:
num = int(input('Enter any number: '))
if num < 0:
   print('Its negative')
else:
   print('Its not negative')

Enter any number: 2
Its not negative

In [ ]:
# validating if a number is less than or greater than a particular value
num = 30
if(num < 50 or num > 20):
  print("The number is between 20 and 50")

The number is between 20 and 50

In [ ]:
# validating if a number is within range
num = 5
if(num > 10 and num <30):
  print("The number is within range")
else:
  print("The number is out of range")

The number is out of range

In [ ]:
n = 5
for i in (1, n):
  print(n)

5
5

In [ ]:
# using range method to define group of number with step size
num = 1 # Initialize sum
for i in range(1, 100, 10): #for loop with step size
    print(num)

1
1
1
1
1
1
1
1
1
1

In [ ]:
# A Simple Nested For Loop
for i in range(1, 10, 1):
  print(i)
  for j in range(1, 5, 1):
    print(j)

1
1
2
3
4
2
1
2
3
4
3
1
2
3
4
4
1
2
3
4
5
1
2
3
4
6
1
2
3
4
7
1
2
3
4
8
1
2
3
4
9
1
2
3
4

In [ ]:
count = 1 # Initialize counter
print("Counter initialized")
while count < 8: # Should we continue?
      print(count) # Display count, then
      count += 1 # Increment counter        count = count + 1

Counter initialized
1
2
3
4
5
6
7

In [ ]:
# Only print code if all iterations completed 
num = int(input('Enter a number to check for: '))
for i in range(1, num):
    print(i, ' ')
    if i == num:
        break
    else:
        continue
    
print('Done')

Enter a number to check for: 2
1
Done

**Introduction to python function and class**

In [ ]:
# A simple function to print a sentence
def print_note():
    print('Hello to data science!')

In [ ]:
print_note()

Hello to data science!

In [ ]:
# The square function
def square(a):
    return a * a

In [ ]:
square(2) #invoke the function

4

In [ ]:
# Default parameter
def value(x = 15):
    return x

value(23)

23

In [ ]:
# Multiple parameters in a function
def sum(x = 45, y = 23):
    """ This function is to sum a number

    """
    return x + y

sum(5, 8)

13

In [ ]:
# A function to count based on value of n
def n_count(n = 5):
  for x in range(1, n + 1):
    print(x, end=' ')

n_count(4)

1 2 3 4

In [ ]:
# A simple class for fruits and corresponding taste 
class Fruits:
      def __init__(self, name, taste):
          self.name = name
          self.taste = taste

Fruits1 = Fruits('Apple','sweet')
Fruits2 = Fruits('Lemon','sour')
Fruits3 = Fruits('Mango','sweet')

print(Fruits3.name, "and ", Fruits1.taste)

Mango and  sweet

**Assignment**

1. Write a python function that find the simple interest rate?

 Hint: 
       a. Simple Interest(I) = (Principal(P) * Rate(R) * Period(T)) / 100
       b.  Your function should take three parameters

2. Write a python function that print out the odd numbers with 1 and 200.

3. Write a python function that print out the even numbers with 1 and 200.

    NB: Answer question one only or you answer question two and three only. If you are capable of answering all, do it.

In [23]:
  def  simple_interest (P, R, T):
       simpleinterest= P * R * T / 100 
       return simpleinterest

In [24]:
       simple_interest(150, 0.5, 3)

2.25